@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h2>Restaurant Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayFor(model => model.StreetAddress)</h4>
<h4>@Html.DisplayFor(model => model.City) @Html.DisplayFor(model => model.State)</h4>
<h4>@Html.DisplayFor(model => model.Phone)</h4>
<h4>@Html.DisplayFor(model => model.Website)</h4>
<p>@Html.ActionLink("Edit Restaurant", "Edit", new {id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Delete Restaurant", "Delete", new {id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Add Review", "Create", "Reviews", new {id = Model.RestaurantId })</p>