<div class="sidenav">
  @Html.ActionLink("Home", "Index", "Home")
  @Html.ActionLink("Cuisines", "Index", "Cuisines")
  @Html.ActionLink("Restaurants", "Index", "Restaurants")
  @Html.ActionLink("Add Cuisine", "Create", "Cuisines")
  @Html.ActionLink("Add Restaurant", "Create", "Restaurants")
  @Html.ActionLink("Search", "Search", "Restaurants")
</div>